body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    background-color: #444;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: #ccc;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .whatsapp, .gmail {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  .whatsapp:hover, .gmail:hover {
    background-color: #444;
  }
  

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.imgU {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .imgU {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    color: #000;
}